.home-bg-color {
    /* background-color: #b03171; */
    background-color:#78133c;
}

.both-padding {
    padding-left: 85px;
    padding-right: 85px;
}

.p-line-space {
    line-height: 1.8;
}

.book-table-btn {
    background-color: #78133c !important; /* Custom pink */
    color: #fff !important;
    border: none !important;
    transition: background 0.3s;
}
.book-table-btn:hover, .book-table-btn:focus {
    background-color: #b85f99 !important; /* Darker pink on hover */
    color: #fff !important;
}

/* Add vertical padding for images on mobile */
@media (max-width: 768px) {
    .split-col {
        margin-bottom: 2rem;
    }
    
    .split-col img {
        margin-bottom: 1rem;
    }
}